<br />
<div id="main-colum"> 
  <h3>Weight Tracking the Hacker Diet Way!</h3> 
  <p>We help you to follow the tenants of The Hacker Diet to help you lose weight and become fit and healthy. Simply record your weight each day, and as long as you log "sinkers", or weights below your average, then you are losing weight!</p>

  <h4>Why Wait? <%=h link_to 'Sign up', new_user_registration_url %> for a free MyHackerDiet.com account.</h4>

  <div align="center"><img src='/images/sample.png' /></div>


</div> 
<!-- main-colum END here --> 
<!-- sidebar START here --> 
<div id="sidebar_min"> 
  <ul>
    <li class="widget">
    <div class="title">
      <h5>Create An Account</h5>
    </div>
    <div class="content">
      <%= form_for("user", :url => user_registration_path) do |f| %>
        <%= f.text_field :email, :id => "login-username", :placeholder => "Email Address" %><br />
        <%= f.password_field :password, :id => "login-password", :placeholder => "Password" %><br />
        <%= f.password_field :password_confirmation, :id=>"login-password", :placeholder => "Confirm Password" %><br />
        <%= f.submit 'Create Account', :class => "green" %>
      <% end %>
    </div>
    </li>
    <!-- widget START here --> 
    <li class="widget"> 
    <div class="title"> 
      <h5>Features</h5> 
    </div> 
    <div class="content"> 
      <ul id='services-list'>
        <li>
          <img src='/images/calendar.png' width='20px' height='20px' />
          Daily Weight Tracker with moving average tracking
        </li>
        <li>
          <img width='20px' height='20px' src="/images/heart.png" />
          Full Health Statistics, including BMI, RMR, TDEE
        </li>
        <li>
          <img width='20px' height='20px' src="/images/community.png" />
          Growing Community with optional public profiles.  Share your success!
        </li>
        <li>
          <img src="/images/homeWifi.png" width='20px' height='20px' />
          Withings Wifi Scale integration - automatically capture your weigh-ins
        </li>
        <li>
          <img src="/images/export.png" width='20px' height='20px' />
          Complete Import and Export of your data.  We will not hold your data hostage.
        </li>
        <!--
        <li>
          <img src="/images/rss.gif" height='20px' width='20px' />
          Social Networks - keep your friends informed of your progress
        </li>
        -->
      </ul>
    </div> 
    </li> 
    <!-- widget END here --> 
  </ul> 
</div> 
<!-- sidebar END here --> 
